{% extends 'base.html.twig' %}

{% block body %}
    <h1>Soiree list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Theme</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for soiree in soirees %}
            <tr>
                <td><a href="{{ path('soiree_show', { 'id': soiree.id }) }}">{{ soiree.id }}</a></td>
                <td>{% if soiree.date %}{{ soiree.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ soiree.theme }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('soiree_show', { 'id': soiree.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('soiree_edit', { 'id': soiree.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('soiree_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
