<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}

        {% endblock %}
        <!-- Appel CSS Boostrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link href="{{ asset('bundles/plats/css/style.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/simple-sidebar.css') }}" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    </head>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href={{path('user_homepage') }}>
                        <img width="52px" style="float:left" src="{{ asset('bundles/plats/image/caro2.png') }}"/>
                        Un diner parfait
                    </a>e
                </li>
                <li>
                    <img width="32px" style="float:left" src="{{ asset('bundles/plats/image/index.png') }}"/>
                    <a href={{path('plats_index') }}>Menu</a>

                </li>
                <li>
                    <a href={{path('soiree_index') }}><i class="fa fa-star-half-o" aria-hidden="true"></i>Vos soirées
                        </a>
                </li>

            </ul>
        </div>


    </div>
    <body>

    {% block body %}{% endblock %}

    {% block javascript %}
        <!-- jQuery -->

    {% endblock %}
    <script src="{{ asset('js/jquery-1.12.3.min.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bundles/plats/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset ('bundles/plats/js/main.js') }}"></script>
    </body>
</html>
