{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-offset-3 col-md-8 color_back">
                <h1 class="titre_index">Liste des plats</h1>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-3">
                        <h2 class="text-center">Date</h2>
                        {% for soiree in soirees %}
                            <div class="row liste_index text-center">
                                <td>{{ soiree.date|date('d-m-Y') }}<br /></td>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
                        <h2 class="text-center">Thèmes</h2>
                        {% for soiree in soirees %}
                            <div class="row liste_index text-center">
                                <td>{{ soiree.theme }}<br /></td>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
                        <h2 class="text-center">Plat</h2>
                        {% for soiree in soirees %}
                            <div class="row">
                                <td>{{ soiree.plats.nom }}<br /></td>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-2">
                        <h2 class="text-center">Qui ?</h2>

                            <div class="row">
                                <td><br /></td>
                            </div>

                    </div>
                    <div class="col-md-1">
                        <h2 class="text-center">Edit</h2>
                        {% for soiree in soirees %}
                            <div class="row liste_index text-center">
                                <a href="{{ path('soiree_show', { 'id': soiree.id }) }}">Voir</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="text-center"><a href="{{'new'}}">Créer une nouvelle soirée</a></div>
            </div>
        </div>

    </div>
{% endblock %}
