{% extends 'base.html.twig' %}

{% block body %}
    <h1>Soiree list</h1>
    <div class="container-fluid">

            <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Theme</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for soiree in soirees %}
                            <tr>
                                <td><a href="{{ path('soiree_show', { 'id': soiree.id }) }}">{{ soiree.id }}</a></td>
                                <td>{% if soiree.date %}{{ soiree.date|date('Y-m-d') }}{% endif %}</td>
                                <td>{{ soiree.theme }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('soiree_show', { 'id': soiree.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('soiree_edit', { 'id': soiree.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        <div class="row">
            <div class="col-md-offset-3 col-md-8 color_back">
                <h1 class="titre_index">Liste des soirées</h1>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-3">
                        <h2 class="text-center">Date</h2>
                        {% for soiree in soirees %}
                            <div class="row liste_index text-center">
                                <td>{{ soiree.date|date('d-m-Y') }}<br /></td>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
                        <h2 class="text-center">Thèmes</h2>
                        {% for soiree in soirees %}
                            <div class="row liste_index text-center">
                                <td>{{ soiree.theme }}<br /></td>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
                        <h2 class="text-center">Plat</h2>
                        {% for soiree in soirees %}
                            <div class="row">
                                <td>{{ soiree.plats }}<br /></td>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-2">
                        <h2 class="text-center">Qui ?</h2>


                        <ul>
                            <li>
                                <a href="{{ path('soiree_new') }}">Create a new entry</a>
                            </li>
                        </ul>

                            <div class="row">
                                <td><br /></td>
                            </div>

                    </div>
                    <div class="col-md-1">
                        <h2 class="text-center">Edit</h2>
                        {% for soiree in soirees %}
                            <div class="row liste_index text-center">
                                <a href="{{ path('soiree_show', { 'id': soiree.id }) }}">Voir</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="text-center"><a href="{{'new'}}">Créer une nouvelle soirée</a></div>
            </div>
        </div>

    </div>
{% endblock %}
