{% extends 'base.html.twig' %}

{% block body %}
    <h1>Soiree</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ soiree.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if soiree.date %}{{ soiree.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Theme</th>
                <td>{{ soiree.theme }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('soiree_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('soiree_edit', { 'id': soiree.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
