{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">

            <div class="row">
                <div class="col-md-offset-1 col-md-10 color_back">
                    <h1 class="titre_index">Liste des plats</h1>
                    <div class="space"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <h2 class="text-center">Nom</h2>
                            {% for plat in plats %}
                                <div class="row liste_index text-center">
                                    <td>{{ plat.nom }}<br /></td>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <h2 class="text-center">Recette</h2>
                            {% for plat in plats %}
                                <div class="row liste_index text-center">
                                    <td>{{ plat.recette }}<br /></td>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <h2 class="text-center">Photo</h2class>
                                {% for plat in plats %}
                                    <div class="row">
                                        <td><img class="img_plat img-responsive img-center" src="{{ asset('uploads/img/') }}{{ plat.photo }}" alt="image_du_plat"><br /></td>
                                    </div>
                                {% endfor %}
                        </div>
                        <div class="col-md-1">
                            <h2 class="text-center">Edit</h2class>
                                {% for plat in plats %}
                                    <div class="row liste_index text-center">
                                        <a href="{{ path('plats_show', { 'id': plat.id }) }}">Voir</a>
                                    </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

    </div>
{% endblock %}
